<div class="collapse collapse-arrow bg-base-100 border border-base-300 {{ include.classes }}">
  <input type="radio" name="my-accordion-2" {% if include.checked %}checked="checked"{% endif %} />
  <div class="collapse-title font-semibold">{{ include.title }}</div>
  <div class="collapse-content text-sm">{{ include.content }}</div>
</div>