<!DOCTYPE html>
<html lang="en">
    {% include head.liquid %}
    <body data-theme="light" class="min-h-screen flex flex-col">
        {% include navbar.liquid %}
        <main class="flex-1">
            <header class="min-h-screen flex flex-col" aria-label="Hero">
            	<div class="relative h-[65vh] md:h-[50vh]">
            		<img src="{{ page.images.wall | absolute_url }}" class="h-[65vh] md:h-[50vh] w-full"></img>
			        <div class="absolute left-0 top-0 h-[65vh] md:h-[50vh] w-full bg-gradient-to-t from-base-100 to-transparent"></div>
				</div>
				<div class="flex-1 flex justify-center items-center">
					<div class="p-5">
						<h1 class="w-full text-center text-3xl sm:text-6xl sm:m-5">{{ page.title }}</h1>
					</div>
				</div>
			</header>
			{{ content }}
        </main>
        {% include footer.liquid %}
    </body>
    {% page_scripts %}
</html>